<nav class="navbar navbar-light bg-faded navbar-fixed-top">
    <a class="navbar-brand">D'accord API Testing</a>
    <ul class="nav nav-pills">
        <li class="nav-item selected">
            <a class="nav-link" href="/">Docs</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/validate">Validate</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/mock">Mock</a>
        </li>
    </ul>
</nav>