<div class="api-resource">
    <h2>{{parentUri}}{{relativeUri}}</h2>
    <div class="resource-description">
        {{description}}
    </div>

    <div class="api-resource-methods">
        {{> components/tabs panels=tabs}}
        <div class="tab-content">
        {{#each tabs}}
            {{#> components/tabpanel}}
            {{method.description}}
            {{/components/tabpanel}}
        {{/each}}
        </div>
    </div>

    {{#if resources}}
    <div class="api-sub-resources">
        {{#each resources}}
            {{> resource-summary parentUri=../relativeUri}}
        {{/each}}
    </div>
    {{/if}}
</div>
